<!DOCTYPE html>
<html>
<head>
    <title><%= title %>  </title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="/stylesheets/demo/canvas/canvas.css"/>
    <link rel="stylesheet" href="/stylesheets/demo/canvas/style.css"/>
    <script language="JavaScript" src="/javascripts/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="pro-canvas">
    <canvas id="canvas">
        您的浏览器不支持canvas
    </canvas>
    <div id="controller">
        <div id="black_btn" class="color_btn color_btn_selected"></div>
        <div id="blue_btn" class="color_btn"></div>
        <div id="green_btn" class="color_btn"></div>
        <div id="red_btn" class="color_btn"></div>
        <div id="orange_btn" class="color_btn"></div>
        <div id="yellow_btn" class="color_btn"></div>

        <div id="clear_btn" class="op_btn">清除</div>
        <div id="draw_btn" class="op_btn">图画</div>
        <div id="revoke0_btn" class="op_btn">-</div>
        <div id="revoke1_btn" class="op_btn">+</div>
        <div class="clearfix"></div>
    </div>
</div>
</body>
<!--<script type="text/javascript" src="/javascripts/demo/canvas.js"></script>-->
<!--<script src="/socket.io/socket.io.js"></script>-->
<script>
    let ws = new WebSocket("ws://<%= wsIp %>:<%= wsPort %>");
    ws.onopen = function() {
        console.log("onopen", "连接状态:" + ws.readyState);
    };
    ws.onmessage = function(evt) {
        console.log("onmessage");
        //console.log("onmessage", "data:" + evt.data);
    };
    ws.onclose = function(evt) {
        console.log("onclose");
    };
    ws.onerror = function(evt) {
        console.log("onerror");
    };

    function send(trace,traceVersion) {
        let wsMsg = {
            app:"demo_canvas",
            user:"yanyan",
            type:0,
            data:{
                trace:trace,
                traceVersion:traceVersion,
            }
        };
        //console.log("发送",JSON.stringify(wsMsg));
        ws.send(JSON.stringify(wsMsg));
    };

    function exit() {
        ws.close();
    }


    let trace = [];

    let traceVersion = 0;



    let canvasWidth = Math.min(800, $(window).width() - 20);
    let canvasHeight = Math.min(800, $(window).width() - 20);



    let canvas = document.getElementById('canvas');
    let context = canvas.getContext('2d');
    canvas.width = canvasWidth;
    canvas.height = canvasHeight;
    $('#controller').css('width', canvasWidth + 'px');

    let strokeColor = 'black';//'black';
    let preLocation;
    let isNewTouch = true;
    let isDrawing = false;
    let line = {lineWidth:1,lineColor:strokeColor,points:[]};

    /**
     * 坐标转换
     * 注：用以windows窗口左上角(0,0)为坐标原点的点，转换为以canvas左上角(0,0)为原点的坐标
     * @param x
     * @param y
     * @returns {{x: number, y: number}}
     */
    function windowToCanvas(x, y) {
        var box = canvas.getBoundingClientRect()
        return {x: x - box.left, y: y - box.top}
    }

    /**
     * 鼠标事件onmousedown
     * @param e
     */
    canvas.onmousedown = function (e) {
        e.preventDefault(); //阻止默认的动作发生
        isDrawing = true;
        console.log('onmousedown');
    }

    /**
     * 鼠标事件onmouseup
     * @param e
     */
    canvas.onmouseup = function (e) {
        e.preventDefault();
        isDrawing = false;
        let newTrace = [];
        for (let i = 0; i < traceVersion; i++) {
            newTrace.push(trace[i]);
        }
        trace = newTrace;
        trace.push(line);
        traceVersion = traceVersion+1;
        drawLine(line);
        //send(line,traceVersion);
        send(trace,traceVersion);
        line={lineWidth:1,lineColor:strokeColor,points:[]};
        console.log('onmouseup');
    }

    /**
     * 鼠标事件onmousemove
     * @param e
     */
    canvas.onmousemove = function (e) {
        //console.log('onmousemove')
        //console.log(e.clientX, e.clientY)
        let  currentLocation = windowToCanvas(e.clientX,e.clientY);
        //let  currentLocation = {x:e.clientX,y:e.clientY}
        //console.log(currentLocation.x,currentLocation.y);
        if (isDrawing) {
            e.preventDefault();
            //moveStroke({x: e.clientX, y: e.clientY});
            context.beginPath();
            if (preLocation){
                console.log("preLocation:"+JSON.stringify(preLocation));
                context.moveTo(preLocation.x, preLocation.y);
            }else {
                context.moveTo(currentLocation.x, currentLocation.y);
                console.log("currentLocation:"+JSON.stringify(currentLocation));
            }
            context.lineTo(currentLocation.x, currentLocation.y);
            context.strokeStyle = "#afafaf"
            context.lineWidth = 1
            context.lineCap = 'round'
            context.lineJoin = 'round'
            context.stroke();


            //
            let point = {x:null,y:null,createTime:null};
            let canvasLocation = windowToCanvas(e.clientX,e.clientY);
            point.x=canvasLocation.x/canvasWidth;
            point.y=canvasLocation.y/canvasHeight;
            point.createTime=new Date();
            line.lineColor = strokeColor;
            line.points.push(point);

        }
        preLocation = currentLocation;
    }


    $("#draw_btn").click(function () {
        console.log("drawing");
        drawTrace(trace,traceVersion);
        send(trace,traceVersion);
    });

    $("#clear_btn").click(function () {
        console.log("cleaning");
        context.clearRect(0, 0, canvasWidth, canvasHeight);
        traceVersion = 0;
        send(trace,0);
    });

    $("#revoke0_btn").click(function () {
        console.log("revoke0_btn ---");
        if (traceVersion==0){
            return;
        }
        traceVersion=traceVersion-1
        context.clearRect(0, 0, canvasWidth, canvasHeight);
        drawTrace(trace,traceVersion);
        send(trace,traceVersion);
    });

    $("#revoke1_btn").click(function () {
        console.log("revoke0_btn +++");
        if (traceVersion>trace.length){
            return;
        }
        traceVersion=traceVersion+1
        context.clearRect(0, 0, canvasWidth, canvasHeight);
        drawTrace(trace,traceVersion);
        send(trace,traceVersion);
    });

    function drawTrace(trace,traceVersion) {
        if (!trace){
            return
        }
        if (trace.length<1){
            return
        }
        for (let i = 0; i < traceVersion; i++) {
            drawLine(trace[i]);
        }

    }

    function drawLine(line) {
        if (!line){
            return
        }
        if (line.points<2){
            return
        }
        let pointArr=line.points;
        context.beginPath();
        context.moveTo(pointArr[0].x*canvasWidth, pointArr[0].y*canvasHeight);
        for (let i=0;i<pointArr.length;i++){
            //console.log(pointArr[i].x, pointArr[i].y)
            context.lineTo(pointArr[i].x*canvasWidth, pointArr[i].y*canvasHeight);
        }
        context.lineTo(pointArr[pointArr.length-1].x*canvasWidth,pointArr[pointArr.length-1].y*canvasHeight);
        context.strokeStyle = line.lineColor;
        context.lineWidth = line.lineWidth;
        context.lineCap = 'round'
        context.lineJoin = 'round'
        context.stroke();
    }



    /**
     * canvas 设置触摸开始监听事件
     */
    canvas.addEventListener('touchstart', function (e) {
        e.preventDefault(); //阻止默认的动作发生
        isDrawing = true;
        console.log('touchstart');
    });

    /**
     * 结束touch事件
     */
    canvas.addEventListener('touchend', function (e) {
        e.preventDefault();
        isDrawing = false;
        isNewTouch = true;
        let newTrace = [];
        for (let i = 0; i < traceVersion; i++) {
            newTrace.push(trace[i]);
        }
        trace = newTrace;
        trace.push(line);
        traceVersion = traceVersion+1;
        drawLine(line);
        //send(line,traceVersion);
        send(trace,traceVersion);
        line={lineWidth:1,lineColor:strokeColor,points:[]};
        console.log('touchend');
    });

    /**
     * touch移动事件
     */
    canvas.addEventListener('touchmove', function (e) {
        console.log('touchmove')
        //console.log(e.clientX, e.clientY)
        let touch = e.touches[0];

        let  currentLocation = windowToCanvas(touch.pageX,touch.pageY);
        //let  currentLocation = {x:e.clientX,y:e.clientY}
        //console.log(currentLocation.x,currentLocation.y);
        if (isDrawing) {
            if (isNewTouch){
                console.log("isNewTouch");
            }else {
                e.preventDefault();
                //moveStroke({x: e.clientX, y: e.clientY});
                context.beginPath();
                if (preLocation){
                    console.log("preLocation:"+JSON.stringify(preLocation));
                    context.moveTo(preLocation.x, preLocation.y);
                }else {
                    context.moveTo(currentLocation.x, currentLocation.y);
                    console.log("currentLocation:"+JSON.stringify(currentLocation));
                }
                context.lineTo(currentLocation.x, currentLocation.y);
                context.strokeStyle = "#afafaf"
                context.lineWidth = 1
                context.lineCap = 'round'
                context.lineJoin = 'round'
                context.stroke();
            }
            let point = {x:null,y:null,createTime:null};
            let canvasLocation = windowToCanvas(touch.pageX,touch.pageY);
            point.x=canvasLocation.x/canvasWidth;
            point.y=canvasLocation.y/canvasHeight;
            point.createTime=new Date();
            line.lineColor = strokeColor;
            line.points.push(point);
        }
        preLocation = currentLocation;
        isNewTouch = false;
    });


</script>
</html>
