<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <base target="_blank"/>
    <script language="JavaScript" src="/javascripts/jquery-3.3.1.min.js"></script>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= description %></p>
<hr>

<dl>
    <dt>demo</dt>
    <dd>
        <a>说明</a>
        <a href="/demo/canvas/draw">Canvas绘画</a>
    </dd>
    <dd>
        <a>说明</a>
        <a href="/demo/canvas/show">白板(基于WebSocket白板同步+Canvas绘画同步)</a>
    </dd>
    <dd>
        <a>说明</a>
        <a href="/demo/chat/chat">聊天室</a>
    </dd>
    <dd><a>……</a></dd>
    <dd><a>待补充</a></dd>
</dl>
<dl>
    <dt>application</dt>
    <dd><a>你画我猜</a></dd>
    <dd><a>狼人杀(面杀无上帝版)</a></dd>
    <dd><a>开会投影(具体待补充,如:开会白板等)</a></dd>
    <dd><a>……</a></dd>
    <dd><a>待补充</a></dd>
</dl>


</body>
<script>



</script>
</html>
