<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>聊天</title>
    <link rel="stylesheet" href="">
    <script language="JavaScript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
    </script>
</head>
<style type="text/css" media="screen">
    div {
        border: 1px solid #cccccc;
        width: 500px;
        min-height: 100px;
    }
</style>

<body>

消息：<input type="text" id="message" name="" value="" placeholder="请输入消息">
用户：<input type="text" id="name" value="" placeholder="请输入昵称">
<a href="javascript:void(0)" onclick="send()">发送</a>
<a href="javascript:void(0)" onclick="exit()">退出</a>
<!-- <input type="text" id="token" name="" value="" placeholder="" readonly="false"> -->
<div id="show">
</div>

</body>
<script type="text/javascript">
    var ws = new WebSocket("ws://127.0.0.1:8080");
    ws.onopen = function() {
        $("#name").val("新游客");
        let name = $("#name").val();
        let wsMsg = {
            app:"demo_chat",
            user:name,
            type:0,
            data:{
                time:new Date(),
                msg:"进入房间",
            }
        };
        console.log("发送",JSON.stringify(wsMsg));
        ws.send(JSON.stringify(wsMsg));
    };
    ws.onmessage = function(evt) {
        // console.log(evt.data)
        // alert(evt.data);
        //$("#show").append(evt.data + "</br>");
        let data = JSON.parse(evt.data);
        debugger
        if (!(data.app=="demo_chat")){
            return;
        }
        $("#show").append(data.data.time + "</br>");
        $("#show").append(data.user +":"+data.data.msg + "</br>");

    };
    ws.onclose = function(evt) {
        console.log("WebSocketClosed!");
        console.log(evt);
    };
    ws.onerror = function(evt) {
        console.log("WebSocketError!");
    };

    function send() {
        let msg = $("#message").val();
        let name = $("#name").val();
        if (msg==""||name==""){
            alert("想聊天？请输入聊天内容和昵称");
            return
        }
        let wsMsg = {
            app:"demo_chat",
            user:name,
            type:0,
            data:{
                time:new Date(),
                msg:msg,
            }
        };
        console.log("发送",JSON.stringify(wsMsg));
        ws.send(JSON.stringify(wsMsg));
    };

    function exit() {
        var r = ws.close();
        console.log("退出", r);
    }
</script>

</html>